.card-lateral {
  background-color: #2299b9;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* padding-left: 30px;
  padding-right: 30px; */
  z-index: 0;
  border-top-left-radius: 20px;
}
.container-Principal {
  display: flex;
  background-color: #2299b9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
}
body {
  margin: 0;
}

.logo {
  margin-top: 40px;
  height: 120px;
  width: 153px;
}
.card-principal {
  z-index: 1;
  background-color: white;
  width: 100vw;
  height: 100vh;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-principal h1 {
  color: #1a728a;
  font-size: 45px;
  font-family: "Montserrat";
  font-weight: bold;
}
.card-principal p {
  color: #1a728a;
  font-size: 25px;
  font-family: "Istok Web";
  font-weight: bold;
}
.btn-acessar {
  background-color: #2299b9;
  color: white;
  padding: 10px 30px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  box-shadow: none;
  display: flex;
  gap: 15px;
}
.cards-Pacientes {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.btn-pacientes {
  margin-top: 40px;
  width: 185px;
  height: 38px;
  font-size: 18px;
  background-color: #1a728a;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.btn-confirmar {
  background-color: #1a728a;
  width: 290px;
  height: 55px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  border: none;
  margin-top: 20vh;
  cursor: pointer;
}
